## HANDLING IMBALANCED DATASETS

    2 METHODS : 
    - UPSAMPLING
    - DOWNSAMPLING

## UPSAMPLING

In [1]:
import numpy as np
import pandas as pd

np.random.seed(123)

n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int (n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [2]:
n_class_0, n_class_1

(900, 100)

In [3]:
## CREATE MY DATAFRAME WITH IMBALANCED DATASET
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [22]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [23]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [25]:
##upsampling implementation

df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [28]:
from sklearn.utils import resample
df_minority_re = resample(df_minority,replace=True,
         n_samples=len(df_majority),
         random_state=42
         )

In [29]:
df_minority_re.shape

(900, 3)

In [30]:
df_minority_re.head()

     feature_1  feature_2  target
951   1.125854   1.843917       1
992   2.196570   1.397425       1
914   1.932170   2.998053       1
971   2.272825   3.034197       1
960   2.870056   1.550485       1

In [35]:
df_new=pd.concat([df_majority,df_minority_re])

In [38]:
df_new['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

## DOWNSAMPLING

In [40]:
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

df=pd.concat([class_0,class_1]).reset_index(drop=True)

df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [41]:
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [52]:
from sklearn.utils import resample
df_majority_re = resample(df_majority,replace=False,
         n_samples=len(df_minority),
         random_state=42
         )

In [51]:
df_majority_re.shape

(100, 3)

In [53]:
df_minority_re.head()

     feature_1  feature_2  target
951   1.125854   1.843917       1
992   2.196570   1.397425       1
914   1.932170   2.998053       1
971   2.272825   3.034197       1
960   2.870056   1.550485       1

In [54]:
df_minority_re.tail()

     feature_1  feature_2  target
952   1.188902   2.189189       1
965   3.919526   1.980541       1
976   2.810326   3.604614       1
942   3.621531   2.168229       1
974   1.160887   2.489203       1

In [56]:
df_new1=pd.concat([df_minority,df_majority_re])

In [58]:
df_new1['target'].value_counts()

target
1    100
0    100
Name: count, dtype: int64