## DATA ENCODING 

this is the process of coverting categorical values to numerical values.

1. Nominal/OHE Encoding
2. Label and Ordinal Encoding
3. Target Guided Ordinal Encoding

### Nominal/OHE Encoding
One hot encoding, also known as nominal encoding, is a technique used to represent categorical data as numerical data, which is more suitable for machine learning algorithms. In this technique, each category is represented as a binary vector where each bit corresponds to a unique category. For example, if we have a categorical variable "color" with three possible values (red, green, blue), we can represent it using one hot encoding as follows:

1. Red: [1, 0, 0]
2. Green: [0, 1, 0]
3. Blue: [0, 0, 1]

Disadvantages :

1) Many categories , many new features
2) Sparse matrix ... leads to overfitting

In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [6]:
## Creating dataframe

df = pd.DataFrame({
    'color': ['red', 'blue', 'green', 'red', 'blue']
})

In [8]:
df.head()

   color
0    red
1   blue
2  green
3    red
4   blue

In [19]:
encoder=OneHotEncoder()

## perform fit and transform

encoder.fit_transform(df[['color']]).toarray()
encoded = encoder.fit_transform(df[['color']]).toarray()

In [16]:
import pandas as pd

encoder_df = pd.DataFrame(encoded,columns = encoder.get_feature_names_out())

In [17]:
encoder_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          0.0        1.0
4         1.0          0.0        0.0

In [22]:
encoder.transform([['blue']]).toarray()

c:\Users\AmanDeep\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[1., 0., 0.]])

In [25]:
pd.concat([df,encoder_df],axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3    red         0.0          0.0        1.0
4   blue         1.0          0.0        0.0